

:root{
  
--background: rgb(25, 179, 206);
--text-primary: #000;
--text-secondary:#8e05c2;
--acent:#8e05c2;
--border: #333;
--darkSwitch: grey;
--fontSize:20px;
--color:rgb(28, 54, 204);
--inputSize:70px;
--inputMargin:2rem;
--card-bg:#fff;
}

[data-theme = 'dark'] {
--background:#000;
--text-primary: #fff;
--text-secondary:#8e05c2;
--acent:#8e05c2;
--border: #808080;
--card-bg:#191919;
}
.App{
  background-color: var(--background) ;
  color: var(--text-primary);
  height: 100vh;
}
.title{
  font-size: 40px; ;
  color:var(--color);
}
.inputFontSize__label{
  
  font-size:20px;
  color:var(var(--text-primary))
}
.inputFontSize__range{
  cursor:pointer;
  width: var(--inputSize);
  margin-left:var(--inputMargin);
  color:var(var(--text-primary))
}

.heroe__title{
  font-size: var(--fontSize);
  color:var(--color);
}

.inputFontColor__label{
    font-size:20px ;
  }
  .inputFontColor__palette{
    width:var(--inputSize);
    color:var(--color);
    margin-left:var(--inputMargin);
  }

.switchComponent{
  display:flex;
  
}
.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  .react-switch-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 40px;
    height: 15px;
    background:var(--darkSwitch);
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
  }
  
  .react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 13px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
  
  .react-switch-checkbox:checked + .react-switch-label .react-switch-button {
    left: calc(100% - 2px);
   transform: translateX(-100%);
  }
  
  .react-switch-label:active .react-switch-button {
    width: 60px;
  }
